.projectsContainer{

    padding: 50px 8% 0;
    background-color: #ecebeb;
}
.projectsContainer > p {
    font-size: 14px;
    text-align: justify;
}
.projectsContainer h2{
    text-align: center;
    margin: 0;
    padding-bottom: 25px;
    font-weight: 500;
    color: var(--black-grey);
}
.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}