.container {
    width: 85vw;
    height: 86vh;
    border-radius: 8px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.container img {
    position: absolute;
    height: 100%;
    /* max-width: 85vw; */
}
/* Tengo que cambiar el alto y ancho para ajustarme a una relación de aspecto específica. Y recortar todas las fotos para que tengan esa relación de aspecto. Y además, se vea lo que quiero mostrar. */
.next,
.prev, 
.close {
    top: calc(50% - 20px);
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    z-index: 2;
    color: white;
    text-shadow: -1px 0px 1px black;
}

.next {
    right: 10px;
}

.prev {
    left: 10px;
}
.close {
    top: 5px;
    right: 5px;
}
.close span {
    font-size: 30px;
}
@media screen and (min-width: 650px) {
    .container {
        height: 98vh;
    }
}
