.waContainer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}
.waContainer img{
    width: 30px;
}
@media screen and (min-width: 768px) {
    .waContainer img{
        width: 45px;
    }
}