.contactContainer{
    display: flex;
}
.contactLeft, .contactLeft img {
    display: none;
}
.contactRight{
    margin: 5% 8% 8%;
    width: 100%;
}
.contactRight h3 {
    text-align: center;
}
.submitButton {
    outline: none;
    width: 200px;
    padding: 11px 15px;
    border: none;
    border-radius: 10px;
    background-color: var(--black-grey);
    color: var(--cream);
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}
.buttonContainer {
    text-align: center;
}
@media screen and (min-width: 426px ) {
    .contactLeft, .contactLeft img {
        display: initial;
    }
    .contactLeft {
        max-width: 35%;
        padding: 8%;
    }
    .contactLeft img {
        max-width: 100%;
        border-radius: 10px;
    }
    .contactRight{
        margin: 5% 8% 8% 0;
    }
}