.footer {
    display: grid;
    grid-template: repeat(2, 1fr) 0.5fr / repeat(4, 1fr);
    padding: 15px 0;
    color: white;
    background-color: var(--black-grey);
    text-align: center;
    font-size: 12px;
}
.logoContainer {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}
.logoContainer img {
    height: 40px;
}
.linksContainer{
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}
.linkContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.linkContainer a {
    text-decoration: none;
    color: white;
}
.mediaContainer{
    grid-column: 1 / 5;
}
.socialIcon {
    filter: invert(80%) blur(0.5px);
    height: 24px;
    margin: 0 10px;
}
.rights {
    grid-column: 1 / 5;
    margin: 25px 0 0;
    font-size: 10px;
}
@media screen and (min-width: 768px) {
    .footer {
        grid-template: repeat(2, 1fr) 0.5fr / repeat(5, 1fr);
    }
    .logoContainer{ 
        grid-row: 1/3; 
        align-self: center;
    }
    .logoContainer img {
        height: 60px;
    }
    .linksContainer {  
        grid-column: 3 / 6; 
        display: flex;
        justify-content: space-evenly;
    }
    .mediaContainer {
        grid-row: 2/3;
        grid-column: 3/6;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .rights{ 
        grid-column: 1/6;
    }
}